<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLoggin"
        tools:targetApi="31">
        <activity
            android:name=".CanjeoPuntos"
            android:exported="false" />
        <activity
            android:name=".Perfil_pasajero"
            android:exported="false" />
        <activity
            android:name=".Pagar_Pasajero"
            android:exported="false" />
        <activity
            android:name=".Transacciones_Pasajero"
            android:exported="false" />
        <activity
            android:name=".Transaccion_Pasajero"
            android:exported="false"
            android:theme="@style/Theme.MyLoggin" />
        <activity
            android:name=".ajustes_pasajero"
            android:exported="false" />
        <activity
            android:name=".CobrarActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageA"
            android:exported="false" />
        <activity
            android:name=".HomePageC"
            android:exported="false"
            android:theme="@style/Theme.MyLoggin" /> <!-- Corrección aquí: Elimina la segunda declaración de HomePageP -->
        <activity
            android:name=".HomePageP"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PagarActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".Registro_pasajero"
            android:exported="false" />
        <activity
            android:name=".Registro_conductor"
            android:exported="false" />
        <activity
            android:name=".Elecciondeformulario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>